@page "/fixes"

<PageTitle>Fixes List</PageTitle>

@using Common.Axiom.Entities
@using Markdig
@using Web.Blazor.Providers
@using static Web.Blazor.Providers.StatsProvider

@inject StatsProvider StatsProvider

@if (_stats == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h2 class="center">@_stats.FixesCount fixes for @_stats.GamesCount games</h2>
    <h5 class="center">(not counting No Intro Fixes)</h5>

    <br />

    @foreach (var fixesList in _stats.FixesLists)
    {
        <h4 style="color:#ab0000">@fixesList.Game</h4>

        @foreach (var fix in fixesList.Fixes)
        {
            <div>&nbsp; &nbsp; &nbsp; &nbsp; • @fix</div>
        }

        <br />
    }

    <br />

    <b>No Intro Fixes for: </b>
    @string.Join(", ", _stats.NoIntroFixes)
}

@code {
    private FixesStats? _stats;

    protected override void OnInitialized()
    {
        _stats = StatsProvider.Stats;
    }
}
